img{
    width: 30%;
    margin: 1.66%;
    border: 1px solid black;
    transition: 0.75s;
}
img:hover{
    transform: translateY(-10px);
}
nav {
  text-transform: uppercase;
  border-bottom: 2px solid #f1f1f1;
  width: 30%;
  margin: calc(10%/6);
  padding: 20px 0;
  font-weight: bold;
  font-size: 20px;
}
body{
    border-left: 10px solid black;
}